body {
	line-height: 1;
	font: normal 15px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #404040;
	line-height: 1.75;
	letter-spacing: 0.008em;
}

.back-top {
    position: fixed;
    right: 1em;
    bottom: 1em;
    user-select: none;
}

@media (max-width: 700px) {
    .back-top {
        opacity: 0.7;
    }
}

a {
	text-decoration: none;
	color: #5badf0;
}

a:hover {
	color: #0366d6;
}

/* markdown content styles */
blockquote {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 1em;
	margin-left: 0px;
	border-left: 3px solid #eee;
	color: #757575;
}

hr {
	display: block;
	border: none;
	height: 2px;
	margin: 40px auto;
	background: #eee;
}

table {
	width: 100%;
	margin: 40px 0;
	border-collapse: collapse;
	line-height: 1.5em;
}

th, td {
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td, td {
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}
thead th, th {
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	cursor: default;
	white-space: nowrap;
	border: 1px solid #dadadc;
}

tr>td {
	border: 1px solid #dadadc;
}

tr:nth-child(odd)>td {
	background: #fcfcfc;
}

h2::before {
	content: '#';
}

h3::before {
	content: '|';
}

h2,h3 {
	&::before {
		margin-right: 5px;
		color: #2d96bd;
	}
}

h1,
h2,
h3 {
	font-weight: 400;
}
p {
	margin-block-start: 1.5em;
	margin-block-end: 1.5em;
}
p,
pre {
	line-break: anywhere;
	word-break: break-all;
}
.markdown-image img {
	max-width: 100%;
}
.anchor { 
	font-size: 100%; 
	visibility: hidden; 
	color:silver;
}
h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a { 
	visibility: visible
} 

.highlight {
	max-width: 100%;
	overflow-x: auto;
	pre {
		padding: 7px;
	}
}
p code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	font-size: inherit;
	background-color: rgba(0, 0, 0, 0.06);
	padding: 0 2px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 2px 2px;
	line-height: inherit;
	word-wrap: break-word;
	text-indent: 0;
}
pre code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}


/* navigation */

nav.navigation {
	padding: 20px 20px 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 0 auto;
	text-align: right;
	z-index: 100;

	a {
		top: 8px;
		right: 6px;
		padding: 8px 12px;
		color: #5badf0;
		font-size: 13px;
		line-height: 1.35;
		border-radius: 3px;

		&:hover {
			color: #0366d6;
		}

		&.button {
			background: #5badf0;
			color: #fff;
			margin-left: 12px;
		}
	}
}
@media (max-width: 700px) {
	nav.navigation {
		padding: 20px 10px 0 0;
		background: #fff;
		background: rgba(255, 255, 255, 0.9);
		margin: 0 auto;
		text-align: right;
		z-index: 100;

		a {
			top: 8px;
			right: 6px;
			padding: 8px 8px;
			color: #5badf0;
			font-size: 13px;
			line-height: 1.35;
			border-radius: 3px;
		}
	}
}

@media (max-width: 324px) {
	nav.navigation a.button {
		display: none;
	}
}

/* comment */
#comment {
	margin-top: 64px;
}

/* footer */
#footer {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	color: #bbbbbb;
	font-size: 14px;

	.copyright {
		margin: 20px auto;
		font-size: 15px;
	}

	.powerby {
		margin: 20px auto;
		font-size: 13px;
	}

	.split {
		cursor: pointer;
	}

	.split:hover path {
		fill: #ff3356;
		transition: 0.7s ease-out;
		cursor: pointer;;
	}
}

#social a {
	margin: 0 4px;
}

/* main content */
.main {
	width: 100%;
	margin: 0 auto;
}

/* profile  */

.profile {
	margin: 60px auto 0 auto;
	text-align: center;

	.avatar {
		display: inline-block;
		width: $avatar-width;
		height: $avatar-height;
		border-radius: 50%;
	}


	h1 {
		font-weight: 400;
		letter-spacing: 0px;
		font-size: 20px;
		color: #404040;
		margin-bottom: 0;
		margin-top: 0;
	}


	h2 {
		font-size: 20px;
		font-weight: 300;
		color: #757575;
		margin-top: 0;
	}
}

/* index post list */
#list-page {
	max-width: $list-page-width;
	margin: 0 auto;
	padding: 0 24px;

	.item {
		margin: 48px 0 0 0;
	}

	.title {
		display: inline-block;
		color: #404040;
		font-size: 20px;
		font-weight: 400;
		margin: 0;
		width: 80%;

		a {
			color: #404040;
			display: block;
			&:hover {
				color: #0366d6;
			}
		}
	}

	.date {
		width: 20%;
		float: right;
		text-align: right;
		position: relative;
		top: 1px;
		color: #bbb;
	}

	.summary {
		color: #757575;
		margin-top: 12px;
	}

	.cover {
		width: 100px;
		height: 100px;
		background: #fff;
		img {
			width: 100%;
			text-align: center;
		}
	}

	.pagination {
		margin: 48px 0;
		width: 100%;
		height: 32px;
		margin-top: 48px;

		.pre {
			float: left;
		}

		.next {
			float: right;
		}
	}
}

/* single page */
@media (max-width: 700px) {
	#single {
		padding: 0px !important;
		margin: 20px auto 0 auto;

		.title {
			font-size: 24px;
			line-height: 32px;
		}
	}
}

#single {
	max-width: $post-page-width;
	margin: 60px auto 0 auto;
	padding: 0 64px;

	.title {
		text-align: center;
		font-size: 32px;
		font-weight: 400;
		line-height: 48px;
	}

	.tip {
		text-align: center;
		color: #8c8c8c;
		margin-top: 18px;
		font-size: 14px;

		.split {
			margin: 0 4px;
		}
	}

	.post-toc {
		position: fixed;
		top: 5.0rem;
		margin-left: $post-page-width + 20px;

		h2 {
			margin-bottom: 0;
			&::before {
				content: unset;
			}
		}

		ul {
			margin-top: 0;
		}

		a {
			color: #404040;
			&:hover {
				color: #0366d6;
			}
		}

		ul {
			padding-left: 10px;
		}

		li {
			&::marker {
				content: '#\00A0';
				color: #2d96bd;
			}
			li {
				&::marker {
					content: '|\00A0';
				}

				li::marker {
					content: unset;
				}
			}
		}

		#toc-button {
			position: fixed;
			bottom: 10%;
			user-select: none;
		}
	}

	.content {
		margin-top: 36px;
	}

	.tags {
		margin-top: 24px;
		a {
			background: #f2f2f2;
			padding: 4px 7px;
			color: #757575;
			font-size: 14px;
			margin-right: 3px;

			&:hover {
				color: #0366d6;
			}
		}
	}
}

#archive-title {
	text-align: right;
	margin-top: 5%;
	margin-bottom: 5%;
}

#archive {
	max-width: $archive-page-width;
	margin: 0 auto;
	padding: 0 24px;

	.total {
		font-size: 15px;
	}

	.group {
		margin: 24px auto; 

		.key {
			font-size: 20px;
			margin-bottom: 12px;
		}

		.value {
			flex-wrap: wrap;
			word-wrap: break-word;
			display: block;
			font-size: 16px;
			margin-bottom: 16px;

			.date {
				color: #999;
				width: 60px;
			}

			.title a {

				color: #404040;

				&:hover {
					color: #0366d6;
				}
			}

			.tags {
				float: right;

				a {
					background: #f2f2f2;
					padding: 4px 7px;
					color: #999;
					font-size: 14px;
					margin-right: 3px;

					&:hover {
						color: #0366d6;
					}
				}
			}
		}
	}
}

/* taxonomy */
@media (max-width: 700px) {
	#tags {
		margin: 0 auto 0 auto;

		.tag {
			display: inline-block;
			margin: 4px 5px;
		}
	}
}

#tags {
	max-width: $tags-page-width;
	margin: 48px auto 0 auto;
	padding: 0 12px;
	text-align: center;

	.tag {
		display: inline-block;
		margin: 7px 7px;

		a {
			background: #f2f2f2;
			padding: 4px 7px;
			color: #757575;
			color: #404040;
			font-size: 14px;
			margin-right: 3px;

			&:hover {
				color: #0366d6;
			}
		}
	}
}

/* section page */
#section {
	max-width: $section-page-width;
	margin: 48px auto 0 auto;
	padding: 0 12px;
}

/* 404 page */
#page-404 {
	max-width: $page-404-width;
	margin: 0 auto;
	padding: 0 24px;

	.item {
		margin: 12px 0 0 0;
	}

	.title {
		display: inline-block;
		color: #404040;
		font-size: 15px;
		font-weight: 400;
		margin: 0;
		width: 80%;
	}

	.text {
		text-align: center;
		margin-top: 60px;
	}

	.read-more {
		font-weight: 300;
		font-size: 20px;
		margin-top: 48px;
		margin-bottom: 12px;
	}

	.date {
		width: 20%;
		float: right;
		text-align: right;
		position: relative;
		top: 1px;
		color: #bbb;
	}
}
