{{ define "main" }}
{{ if .IsHome }}
    {{ partial "profile.html" . }}
{{ end }}
<section id="archive">
    <h1 id="archive-title">Archive</h1>
    {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="group">
            <h3 class="key">
                {{ .Key }}
            </h3>

            {{ range .Pages }}
                <div class="value">
                  <span class="date">
                      {{ .Date.Format (.Site.Params.archiveDateFormat | default "Jan 2") }}
                  </span>
                  <span class="title">
                      <a href="{{ .Permalink }}">
                          {{ .Title }}
                      </a>
                  </span>
                  {{ with .Params.tags }}
                      <span class="tags">
                      {{ range first 1 . }}
                          <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                      {{ end }}
                      </span>
                  {{ end}}
                </div>
            {{ end }}          
        </div>
    {{ end }}


</section>


{{ end }}
