{{ define "main" }}
{{ if .IsHome }}
    {{ partial "profile.html" . }}
{{ end }}
<section id="archive">
    <h1 id="archive-title">Tags: {{ .Title }}</h1>
    {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="group">
            <h3 class="key">
                {{ .Key }}
            </h3>

            {{ range .Pages }}
                <div class="value">
                  <div class="date">
                      {{ .Date.Format (.Site.Params.taxonomyDateFormat | default "Jan 2") }}
                  </div>
                  <div class="title">
                      <a href="{{ .Permalink }}">
                          {{ .Title }}
                      </a>

                      {{ with .Params.tags }}
                          <div class="tags">
                              {{ range after 1 (first 2 .) }}
                                  <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                              {{ end }}
                          </div>
                      {{ end}}
                  </div>
                </div>
            {{ end }}          
        </div>

    {{ end }}



</section>


{{ end }}
